
<div class="footer">
  <table>
    <tr>
      <td class="align-center">
        <p >{{> follow_us }} </p>
        <p class="text-white"><webversion><a href="#SPCLICKTOVIEW" name="Hyperlink_20200403_090646880" target="_blank" xt="SPCLICKTOVIEW"></a><b style="box-sizing: inherit;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">Voir la version HTML de ce courriel</b></a></webversion>
</p>
<p>Vous êtes abonné à {{{ hubspot.company_name }}} au moyen de votre adresse %%EMAIL%%. Pour vous désabonner de l'{{{ hubspot.subscription_name }}} de {{{hubspot.company_name}}} ou mettre à jour vos préférences, cliquez ici . Vous recevez ce message de {{hubspot.company_name}}, une propriété de Bell Média. En visitant un de nos sites Web, vous avez demandé à recevoir des nouvelles au moyen de {{hubspot.company_name}}. Veuillez ne pas répondre à ce message en utilisant la fonction «Répondre à». <a href="http://soutien.bell.ca/Facturation-et-comptes/Securite_et_confidentialite/Bell_et_votre_vie_privee" name="Politique de Bell sur la protection de la vie privee" target="_blank" xt="SPCLICK">Politique de Bell sur la protection de la vie privée</a>.
</p>
<p>{{{ hubspot.company_street_address_1 }}}</p>

<p>&copy; 2020. Bell Média. Tous droits réservés.</p>
      </td>
    </tr>
  </table>
</div>



